/* importamos de google font - righteous, work sans */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reseteamos los estilos predeterminados del navegador */
*{
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}

html{
    /* permite deslizar cuando hago click en los link del nav */
    scroll-behavior: smooth;
}

/* MENU - NAV*/
.contenedor-header{
    background:#1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1cb698;
    text-decoration: none; /*quita el subrayado del link*/
}

.contenedor-header header ul {
    display: flex;
    list-style: none; /**/
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: .5s;
}

.contenedor-header header nav ul li a:hover{
    color: #1cb698;
}

.nav-responsive{
    background-color: #1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenedor-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenedor-banner img{
    margin-top: 40px;
    border: 5px solid #1e2326;
    border-radius: 100%;
    display: block;
    width: 80%;
    margin: auto;
}

.inicio .contenedor-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenedor-banner h2{
    font-size: 15px;
    font-family: 'Work Sans';
}

.inicio .contenedor-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenedor-banner .redes a:hover{
    background-color: #1cb698;
}

/* SECCION SOBRE MI */
.contenedor-sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px;
}
.contenedor-sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contenedor-sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contenedor-sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.contenedor-sobremi .contenido-seccion p span{
    color: #1cb698;
    font-weight: bold;
}

.contenedor-sobremi .fila{
    display: flex;
}

.contenedor-sobremi .fila .col{
    width: 50%;
}

.contenedor-sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.contenedor-sobremi .fila .col ul{
    list-style: none;
}

.contenedor-sobremi .fila .col ul li{
    margin: 12px 0;
}

.contenedor-sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1cb698;
    width: 130px;
}

.contenedor-sobremi .fila .col ul li span{
    background-color: #1cb698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

/* Contenedor intereses */
.contenedor-sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color:#252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.contenedor-sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1cb698;
}

.contenedor-sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.contenedor-sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff; 
    width: fit-content; /*ajusta un tamaño dado a un tamaño disponible*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contenedor-sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0; 
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1; 
    transition: 1s;
}

.contenedor-sobremi button a{
    color: #fff;
    text-decoration: none;
}

.contenedor-sobremi button:hover .overlay{
    width: 100%;
}

/* SECCCION PORTAFOLIO */

.contenedor-portafolio{
    width: 100%;
    height: 100%;
    background-color: #1e2326;
    color: #fff;
    padding: 50px;
    
}

.contenedor-portafolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contenedor-portafolio .contenido-portafolio{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*los elementos flex son organizados en varias lineas*/
}

.contenedor-portafolio .contenido-portafolio .creartarjeta{
    width: 250px;
    height: 330px;    
    box-shadow:0 0 5px #fff;
    border-radius: 15px; 
    margin: 10px 10px;
    text-align: center;
}

.contenedor-portafolio .contenido-portafolio .creartarjeta:hover{
    box-shadow:0 0 5px rgb(39, 130, 153) ;
}

.contenedor-portafolio .contenido-portafolio .creartarjeta h3{
    font-size: 22px;
    font-family: 'Righteous';
    padding: 5px 0;
    text-align: center;
}

.contenedor-portafolio .contenido-portafolio .creartarjeta img{
    width: 230px;
    height: 200px;
}

.contenedor-portafolio .contenido-portafolio .creartarjeta p{
    font-size: 12px;
    font-family: 'Work Sans';
    display: flex;
    justify-content:center;
    padding: 10px 10px;
}

.contenedor-portafolio .contenido-portafolio .creartarjeta a{
    text-decoration: none;
    color: #1CB698;
    margin-top: 10px;
}  

.contenedor-portafolio .contenido-portafolio .creartarjeta a:hover{
    color: #fff;
}


/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}




/* FOOTER */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}









